@font-face {
    font-family: kidsFont;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}
body{
    background-color: white;
}
.title{
    text-align: center;
    font-family: kidsFont;
    font-size: 50px;
}
.start{
    text-align: center;
}