/* @font-face {
    font-family: kidsFont;
    src: url();
} */

body{
    background-color: #58a6d7;
}

.title{
    text-align: center;
    /* font-family: kidsFont; */
    font-size: 50px;
}
div{
    box-sizing: border-box;
    display: block;
}

/* Start Button */
p{
    color: white;
}
#start{
    text-align: center;
}
.play-button{
    margin: 0 auto;
    top: 25%;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.25em 0 1.25em 2.5em;
    border-color: transparent transparent transparent #000;
    opacity: .75;
}
.play-button-outside{
    margin: auto;
    margin-bottom: 80px;
    border-radius: 12px;
    width: 10em;
    height: 5em;
    cursor: pointer;
    background-color: #4a86ac;
}
.play-button-outside:hover{
    background-color: rgba(0, 0, 0, .5);
}
.play-button-outside:hover .play-button{
    opacity: 1;
}
.play-button-outside:active{
    position:relative;
	top: 5px;
}


/* Levels */
#levelsDiv{
    background-color:#4a86ac;
	border:2px solid orange;
    margin-top: 20px;
    display: grid;
    /* kolommen each fr is a card */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* rijen */
    grid-auto-rows: max-content;
    /* ruimte tussen rijen en kolommen */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.levelsBG{
    border-radius:10px;
    border-color: or;
	display:inline-block;
	font-family:Arial;
	font-size:17px;
	padding:18px 14px;
	text-decoration:none;
}
@media (max-width: 880px) {
    #cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 705px) {
    #cards {
        grid-template-columns: 1fr 1fr;
    }
}
.levels {
	border-radius:10px;
    border-color: orange;
	display:inline-block;
    background-color: #ffa500;
    cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding:18px 14px;
	text-decoration:none;
    /* first = lock, seconds = background */
    background-image: url(), url() ;
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center;

}
.levels:hover {
	background-color:lightgreen;
}
.levels:active {
	position:relative;
	top:1px;
}

.answerButton {
	box-shadow: 0px 0px 7px 3px #9fb4f2;
	background:linear-gradient(to bottom, #eeae24 5%, #ffa500 100%);
	background-color:#ffa500;
	border-radius:15px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:17px 63px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.answerButton:hover {
	background:linear-gradient(to bottom, #46f380 5%, limegreen 100%);
	background-color:#476e9e;
}
.answerButton:active {
	position:relative;
	top:1px;
}

.answer {
text-align: center;
margin-top: 50px ;
display: flex;
justify-content: center;
row-gap: 10px;
}

.answer > div {
    margin: 6px;
  }

     

.foto {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding:1px;
    border:1px solid #021a40;
    background-color:black;

}
.img-good{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}